@{
    ViewBag.Title = "Agregar Proveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header-area pt-10 pb-9" data-bg-color="#FFF3DA">
    <div class="container text-center">
        <h2 class="page-header-title">Agregar Proveedor</h2>
    </div>
</section>

<section class="section-space">
    <div class="container">
        <div class="card p-4 shadow-sm">

            <form>

                <div class="mb-3">
                    <label class="form-label">Nombre del proveedor</label>
                    <input type="text" class="form-control" placeholder="Ej: Beauty Imports">
                </div>

                <div class="mb-3">
                    <label class="form-label">Teléfono</label>
                    <input type="text" class="form-control" placeholder="8888-8888">
                </div>

                <div class="mb-3">
                    <label class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" placeholder="correo@proveedor.com">
                </div>

                <div class="mb-3">
                    <label class="form-label">Dirección</label>
                    <textarea class="form-control" rows="2"></textarea>
                </div>

                <div class="text-end">
                    <a href="@Url.Action("Index","Proveedores")" class="btn btn-secondary">Cancelar</a>
                    <button class="btn btn-dark">Guardar</button>
                </div>

            </form>

        </div>
    </div>
</section>