@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .proveedores-table {
        width: 100%;
        margin-top: 30px;
    }

        /* BOTONES más pequeños y elegantes */
        .proveedores-table .btn-accion {
            padding: 5px 14px;
            border-radius: 6px;
            font-size: 12px;
            margin: 3px;
            background-color: #ff7b7b;
            color: white;
            border: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            display: inline-block;
            transition: .2s;
        }

            .proveedores-table .btn-accion:hover {
                background-color: #ff5050;
            }
</style>

<section class="section-space">
    <div class="container">

        <h2 class="text-center mb-4">Modulo de Reportes</h2>

        <!-- BOTÓN AGREGAR -->
        <div class="text-end mb-3">
            <a href="@Url.Action("Crear", "Reportes")" class="btn btn-dark">+ Nuevo Reporte</a>
        </div>

        <table class="table table-bordered proveedores-table">
             
        </table>

    </div>
</section>