@{
    ViewBag.Title = "Asistente de Skincare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-space">
    <div class="container text-center">
        <h2 class="mb-3">Asistente de Skincare</h2>
        <p class="text-muted mb-4">
            Descubre la rutina ideal para tu piel según tus necesidades,
            tipo de piel y objetivos.
        </p>

        <a href="@Url.Action("Cuestionario","AsistenteSkincare")"
           class="btn btn-dark px-4 py-2">
            Comenzar diagnóstico
        </a>
    </div>
</section>
