
@{
    ViewBag.Title = "Publicar Artículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-space">
    <div class="container">
        <h3 class="mb-4">Nuevo artículo</h3>

        <div class="mb-3">
            <label>Título</label>
            <input type="text" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Contenido</label>
            <textarea class="form-control" rows="6"></textarea>
        </div>

        <button class="btn btn-dark btn-sm me-2">Publicar</button>
        <a href="@Url.Action("Index","BlogBelleza")"
           class="btn btn-secondary btn-sm">
            Cancelar
        </a>
    </div>
</section>