@{
    ViewBag.Title = "Historial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-space">
    <div class="container">

        <h2 class="text-center mb-4">Historial</h2>

        <table class="table table-striped shadow-sm">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Acción</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>10/02/2025</td>
                    <td>Compra</td>
                    <td>Crema hidratante Glow</td>
                </tr>
                <tr>
                    <td>05/02/2025</td>
                    <td>Rutina Guardada</td>
                    <td>Rutina nocturna</td>
                </tr>
            </tbody>
        </table>

    </div>
</section>