@{
    ViewBag.Title = "Recomendaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-space">
    <div class="container">

        <h2 class="text-center mb-4">Recomendaciones Para Ti</h2>

        <p class="text-center text-muted">
            Basado en tus gustos, historial y rutinas guardadas.
        </p>

        <div class="row g-4 mt-3">

            <div class="col-lg-4">
                <div class="product-item shadow-sm border rounded-3 p-3 bg-white">
                    <img src="https://i5.walmartimages.com/seo/Glow-Recipe-Plum-Plump-Hyaluronic-Cream-67oz-20ml_fcabe71b-8928-4ed9-9fa0-e9b11103fbdf.2be8b441a3ae8b859d2b23d1d4414833.jpeg" class="img-fluid rounded mb-3" />
                    <h4>Crema Hidratante Glow</h4>
                    <p class="price">$32</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="product-item shadow-sm border rounded-3 p-3 bg-white">
                    <img src="https://m.media-amazon.com/images/I/81+OpYuvH6L._AC_UF894,1000_QL80_.jpg" class="img-fluid rounded mb-3" />
                    <h4>Set de Limpieza Facial</h4>
                    <p class="price">$45</p>
                </div>
            </div>

        </div>

    </div>
</section>